body{
    background-color: #DADAC3;
    color: #000;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#wrapper{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

#heading{
    font-size: 20px;
    margin-top: -40px;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1{
    font-size: 50px;
}


form{
    display: flex;
    justify-content: center;
    font-size: 35px;   
}
#subt{
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #490340;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#subt:hover {
    background-color: #760567;
}



input{
    font-size: 25px;
    border-radius: 8px;
}

.prvgs{
    font-size: 30px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gr{
    font-size: 30px;
    margin-top: -10px;
    text-align: left;
    /* margin-left: 150px; */

}
.prvs{
    width: 290px;
    text-align: left;
    /* margin-left: 20px; */
}
.prvs span{
    margin-left: 27px;
}

.guesses{
    /* margin-left: 0px; */
    padding-left: 5px;
    width: 1200px;
    height: 35px;
    border-radius: 5px;
    text-align: left;
}

#newGame {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #490340;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
#newGame:hover {
    background-color: #760567;
}
  


@media (max-width: 768px) {
    #wrapper{
        /* display: flex; */
        /* text-align: center; */
        /* justify-content: center; */
        /* flex-direction: column; */
        /* font-size: 15px; */
    }
    ul{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
    }
    
    
    h1{
        font-size: 30px;
    }
    
    
    form{
        display: flex;
        justify-content: center;
        font-size: 25px;   
    }
    
    input{
        font-size: 15px;
        border-radius: 8px;
    }

    #subt{
        font-size: 8px;
    }
    
    .prvgs{
        font-size: 15px;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .prvgs div{
        width: 127px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gr{
        font-size: 15px;
        margin-top: 10px;
        text-align: left;
        /* margin-left: 270px; */
        /* margin-bottom: -20px; */
        
    }
    .prvs{
        /* width: 290px; */
        /* color: red; */
        /* border: 2px solid black; */
        /* font-size: 10px; */
        /* margin-left: 0; */
        /* margin-left: 235px; */
        /* display: flex; */
        /* justify-content: left; */
        /* margin-left: 270px; */
    }
    .prvs span{
        margin-left: 5px;
    }
    
    .guesses{
        margin-left: 0px;
        padding-left: 0px;
        /* width: 500px; */
        /* height: 20px; */
        /* border: 2px solid black; */
        /* border-radius: 5px; */
        font-size: 13px;
        display: flex;
        align-items: center;
        text-align: left;
    }

    #newGame{
        margin-top: 15px;
        font-size: 8px;
    }
  }  